layout python3
export NAME=$(basename $(pwd))
export DB_HOST=$(docker inspect -f '{{.NetworkSettings.IPAddress}}' $NAME)
export POSTGRES_PASSWORD=insecure
export AUTOMIG_CON=postgresql://postgres:$POSTGRES_PASSWORD@$DB_HOST
